@import './var';

.btn {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 1.14em;
  font-size: $fontSize;
  color: $fontColor-black;
  border: 1px solid darken($white, 15%);
  border-radius: $borderRadius;
  background-color: $white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  user-select: none;
  cursor: default;
  &:hover {
    // background-color: darken($white, 15%);
    background-color: darken($white, 5%);
  }
  &:active {
    color: $fontColor-white;
    background-color: darken($white, 14.5%);
  }
}

.btn_red {
  @extend .btn;
  background-color: $pink;
  &:hover {
    background-color: darken($pink, 5%);
  }
  &:active {
    background-color: darken($pink, 14.5%);
  }
}

.link {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  height: 32px;
  padding: 0 1.14em;
  color: $fontColor-link;
  text-decoration: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px solid $fontColor-link;
  cursor: pointer;
  &:hover {
    color: $fontColor-link-hover;
    border-bottom-color: $fontColor-link-hover;
  }
  &:active {
    color: $fontColor-link-active;
    border-bottom-color: $fontColor-link-active;
  }
}
