@import '~styles/var';
@import '~styles/mixins';
@import '~styles/extends';

.navbar {
  height: 153px;
  min-width: 1200px;
  background-color: $headerBg;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  &_wrapper {
    margin: 0 auto;
    padding-top: 16px;
    border-bottom: 1px solid $borderColor;
  }
  // 导航栏上半部分 logo & 搜索栏
  &_primary {
    @extend .container;
    display: flex;
    min-width: 1200px;
    justify-content: flex-start;
    align-items: center;
    height: 88px;
    line-height: 88px;
    .navbar_logo {
      @include bg('~@/logo.png', 200px, 100%);
      padding: 4px 0;
    }
    .navbar_city {
      align-self: flex-end;
      line-height: 2;
      margin-left: 16px;
      margin-bottom: 8px;
      svg {
        margin-right: 4px;
      }
    }
    .navbar_search {
      display: inline-flex;
      margin-right: 0;
      margin-left: auto;
      align-items: center;
      height: 40px;
      font-size: $fontSize;
      color: $fontColor-black;
      &_input {
        width: 480px;
        height: 100%;
        padding: 8px;
        outline: none;
        border: 1px solid $borderColor;
        border-radius: $borderRadius;
        font-size: inherit;
        &:hover {
          border-color: $borderColor-hover;
        }
        &:focus {
          border-color: $borderColor-hover;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
        }
      }
      &_btn {
        line-height: 40px;
        margin-left: 8px;
        font-size: 16px;
        // @extend .btn;
        svg {
          margin-left: 4px;
          font-size: 16px;
        }
      }
    }
  }

  // 导航栏下半部分 常用连接
  &_secondary {
    // height: 40px;
    height: 48px;
    max-width: 1200px;
    margin: 0 auto;
    ul {
      display: flex;
      padding-left: 16px;
      padding-right: 112px;
      justify-content: space-between;
      align-items: center;
    }
    .navbar_item {
      @extend .link;
      border-bottom: none;
      margin: 0 20px;
      line-height: 48px;
      height: 100%;
      color: $fontColor-white;
    }
  }
}

.woo-menu-item-active {
  .navbar_item {
    color: $fontColor-link-active;
  }
}
