@import '~styles/var';

.detail {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  background-color: $white;
}

.movieDetail_top {
  display: flex;
  width: 1200px;
  height: 330px;
  margin-bottom: 56px;
  padding-left: 20px;
  &_pic {
    width: 240px;
    height: 330px;
  }
}

.movieDetail_info {
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-left: 20px;
  margin-right: 20px;
  .movieDetail_title_en {
    font-size: 22px;
    margin-bottom: 24px;
  }
  .movieDetail_brief,
  .movieDetail_pubDesc {
    margin: 16px 0;
  }
  .movieDetail_action {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btns {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: flex-end;
      .btn {
        margin-bottom: 8px;
        svg {
          margin-left: 8px;
        }
      }
    }
  }
}

.movieDetail_rate {
  position: relative;
  margin-left: 32px;
  .rate_sc {
    font-size: 30px;
    margin-bottom: 24px;
    color: $orange;
    font-style: italic;
  }
  .rate_num {
    font-size: 14px;
    color: $fontColor-black;
  }
  // 评分分布组件样式
  .rate_dist {
    margin-top: 12px;
    font-size: 12px;
    &_item {
      display: flex;
      justify-content: flex-start;
    }
    .level {
      width: 40px;
      margin-right: 4px;
    }
    .bar {
      width: 100px;
      height: 16px;
      margin-right: 4px;
      margin-bottom: 4px;
      background-color: $yellow;
    }
  }
  .rate_desc {
    margin-top: 48px;
    letter-spacing: 1px;
  }
  .rate_tags {
    margin-top: 32px;
    .cat_tag {
      border: 1px solid $blue;
      border-radius: 1em;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }
}

.movieDetail_bottom {
  display: flex;
}

// 下半部分 Tabs 样式
.movieDetail_bottom_tab {
  // width: 800px;
  width: 720px;
  .movieDetail_sum {
    font-size: $fontSize;
    line-height: 2;
    &_title {
      position: relative;
      font-size: 16px;
      margin: 4px 0;
      padding-left: 12px;
      &::before {
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        content: '';
        width: 4px;
        height: 22px;
        background-color: $fontColor-grey;
      }
    }
    &_story {
      margin-bottom: 48px;
    }
    &_track {
      display: inline-flex;
      justify-content: flex-start;
      background-color: $fontColor-white;
      color: $fontColor-black;
      height: 140px;
      margin-bottom: 48px;
      &_wrapper {
        padding: 0 96px 0 16px;
      }
      &_name {
        margin: 12px 0;
      }
    }

    // 影评样式
    &_hotComments,
    &_newComments {
      padding-top: 24px;
      .comment_wrapper {
        display: flex;
        position: relative;
        margin-bottom: 32px;
        padding-left: 8px;
        .comment_avatar {
          width: 128px;
          height: 128px;
          border-radius: 50%;
        }
        .comment_info {
          margin-left: 32px;
          padding-bottom: 32px;
          border-bottom: 1px solid $borderColor;
        }
        // 最后一个 item 的内容不需要 border-bottom
        &:last-child .comment_info {
          border-bottom: none;
        }
        .comment_nick {
          font-size: 16px;
          margin-bottom: 4px;
          .comment_tag {
            margin-left: 4px;
            font-size: 12px;
          }
        }
        .comment_time {
          margin-bottom: 16px;
          font-size: 12px;
        }
        .comment_city {
          margin-left: 16px;
          font-style: normal;
        }
        .comment_content {
          max-width: 800px;
        }
        .comment_like {
          position: absolute;
          right: 24px;
          &_icon {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .movieDetail_cast {
    .cast_title {
      font-size: 18px;
      margin: 8px 0;
      &_count {
        font-size: 12px;
        color: $fontColor-grey;
        font-style: normal;
        margin-left: 3px;
      }
    }
    .cast_list {
      display: flex;
      flex-wrap: wrap;
      width: 720px;
    }
    .cast_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-right: 16px;
      margin-bottom: 16px;
      .cast_pic_wrapper {
        width: 128px;
        height: 170px;
        overflow: hidden;
      }
      .cast_name {
        color: $fontColor-black;
        margin: 4px;
      }
      .cast_role {
        font-size: 12px;
        color: $fontColor-grey;
        max-width: 6em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .gallery {
    &_indicator {
      margin-bottom: 16px;
      font-size: 16px;
      text-align: center;
    }
    &_slide {
      width: 688px;
    }
    &_pic_wrapper {
      width: 100%;
      height: 460px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $fontColor-white;
    }
  }
}

.movieDetail_bottom_more {
  width: 432px;
  margin-left: 32px;
  padding-left: 8px;
  border-left: 1px dashed $borderColor;
  .video_title,
  .relatedMovies_title {
    position: relative;
    font-size: 16px;
    line-height: 2;
    margin: 4px 0;
    padding-left: 12px;
    &::before {
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      content: '';
      width: 4px;
      height: 22px;
      background-color: $fontColor-grey;
    }
  }
  .video_list {
    margin-bottom: 32px;
    .video_item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 16px;
      &_imgWrapper {
        width: 210px;
        height: 119px;
        overflow: hidden;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &_infoWrapper {
        margin-left: 16px;
        .video_item_title {
          display: block;
          font-size: 16px;
          margin-bottom: 16px;
        }
        svg {
          margin-right: 4px;
        }
      }
    }
  }

  .relatedMovies_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 360px;
    .relatedMovies_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
      &_imgWrapper {
        width: 106px;
        height: 145px;
        overflow: hidden;
      }
      &_title {
        margin: 4px 0;
      }
      &_rate {
        color: $orange;
      }
    }
  }
}
