@import '~styles/var';

.slide {
  display: block;
  position: relative;
  overflow-x: hidden;
}
.slide_wrapper {
  position: relative;
  height: 100%;
}

.slide_item {
  width: 100%;
  display: none;
  position: absolute;
  &_active {
    display: block;
  }
}

.slideFromRToL-enter {
  transition: all 0.3s;
  transform: translateX(100%);
}
.slideFromRToL-enter-active {
  transform: translateX(0);
}

.slideFromRToL-exit {
  // 注意：如果不加 display: block，则切换后受 display: none 影响，不能显示动画
  display: block;
  transition: all 0.3s;
  transform: translateX(0);
}
.slideFromRToL-exit-active {
  transition: all 0.3s;
  transform: translateX(-100%);
}

.slideFromLToR-enter {
  transition: all 0.3s;
  transform: translateX(-100%);
}
.slideFromLToR-enter-active {
  transform: translateX(0);
}
.slideFromLToR-exit {
  display: block;
  transition: all 0.3s;
  transform: translateX(0);
}
.slideFromLToR-exit-active {
  transform: translateX(100%);
}

.slide_arrow {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-8px);
  background-color: $white;
  z-index: 9;
  transition: all 0.3s;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  &_l {
    left: 8px;
  }
  &_r {
    right: 8px;
  }
}

.slide:hover {
  .slide_arrow {
    opacity: 1;
  }
}

.slide_indicator {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}
