@import '~styles/var';

.slide {
  display: block;
  position: relative;
  overflow-x: hidden;
}
.slide_wrapper {
  height: 220px;
  position: relative;
}

.slide_item {
  display: none;
  position: absolute;
  &_active {
    display: block;
  }
}

.slideAnimation_enter {
  transition: all 0.3s;
  transform: translateX(100%);
}
.slideAnimation_enter_active {
  transform: translateX(0%);
}

.slideAnimation_exit {
  // 注意：如果不加 display: block，则切换后受 display: none 影响，不能显示动画
  display: block;
  transition: all 0.3s;
  transform: translateX(0%);
}
.slideAnimation_exit_active {
  transition: all 0.3s;
  transform: translateX(-100%);
}

.slide_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(0.5em);
  background-color: $white;
  z-index: 9;
  svg {
    font-size: 10px;
  }
  &:hover {
    cursor: pointer;
  }
  &_l {
    left: 16px;
  }
  &_r {
    right: 16px;
  }
}
