@import '~styles/var';
@import '~styles/extends';

.community {
  @extend .container;
  padding-top: 32px;
  position: relative;
  &-title {
    @extend .title;
    padding-left: 16px;
  }
  &-post-btn {
    position: absolute;
    top: 28px;
    right: 48px;
  }
  &-icon {
    margin-left: 4px;
  }
  &-post {
    &-list {
      padding-top: 64px;
    }
    &-item {
      display: flex;
      padding-left: 16px;
      margin-bottom: 24px;
      border-bottom: 1px solid $borderColor;
    }
  }
  .postItem {
    &-wrapper {
      margin-bottom: 8px;
      span {
        margin-right: 8px;
      }
      .postItem-date {
        margin-right: 32px;
      }
    }
    &-title {
      font-size: 16px;
      display: block;
      margin-bottom: 16px;
    }
    &-creator {
      font-weight: 700;
      color: $fontColor-grey;
    }
    &-replies {
      height: 24px;
      border-radius: 12px;
      padding: 0 16px;
      background-color: $siderBg;
      font-size: 16px;
      font-weight: 700;
      color: $fontColor-white;
      margin-right: 64px;
      margin-left: auto;
    }
  }
}

.post {
  @extend .container;
  position: relative;
  min-height: 1000px;
  margin-top: 16px;
  padding: 0 16px 128px;
  border: 1px dashed $borderColor;
  border-top: none;
  border-bottom: none;
  &-wrapper {
    padding-top: 24px;
    background-color: $white;
    box-shadow: 0 2px 4px 4px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 64px;
  }
  &-header {
    padding: 0 16px 16px;
    border-bottom: 1px solid $borderColor-disabled;
  }
  &-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
  }
  &-info {
    .post-creator {
      margin-right: 16px;
      margin-left: 4px;
      position: relative;
      &::after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $fontColor-grey;
      }
    }
    .post-date {
      color: $fontColor-grey;
    }
  }
  &-content {
    padding: 16px;
    padding-bottom: 48px;
    font-size: 18px;
  }
  &-replies-wrapper {
    position: relative;
    min-height: 640px;
    border: 1px solid $borderColor;
    padding: 16px 24px;
    margin-bottom: 48px;
    .reply-index {
      font-size: 16px;
      position: absolute;
      top: 16px;
      right: 32px;
    }
    .reply-creator {
      font-weight: 700;
      margin-right: 16px;
    }
    .reply-content {
      margin-top: 24px;
    }
  }
  &-reply {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $borderColor;
  }
}

.bf-container {
  border: 1px solid $borderColor;
  .bf-content {
    height: 100%;
  }
}
.reply-btn {
  position: absolute;
  margin-top: 32px;
  right: 16px;
}

.community .community-alert,
.post .post-alert {
  position: fixed;
  width: 320px;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.community .community-alert {
  position: absolute;
  top: 16px;
}

.newPost {
  @extend .container;
  position: relative;
  padding-top: 32px;
  padding-bottom: 40px;
  &-title {
    @extend .title;
  }
  &-editor {
    &_wrapper {
      margin-top: 32px;
    }
    &_title {
      width: 100%;
      margin-bottom: 24px;
    }
  }
  &-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bf-container {
    border-radius: 4px;
  }
}
